@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}

h1,h2,h3 {
  margin: 0;
}

.nav{
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}

.nav-a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}

.nav-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

nav h1 {
  color: #fff;
}

.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

form {
  background:  #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}

form input {
  display: block;
  width:100%;
  padding: 6px;
  box-sizing: border-box;
  border:1px solid #ccc;
  margin: 10px 0 20px 0;
}

form button{
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}